*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    background-color: white;
    height: 150px;
    width: 100%;
}
#header{
    background-color:rgb(185, 160, 49);
    width: 100%;
    height: 40px;
    color: white;
    text-align: right;
}
#nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* height: 100px; */
}
#nav ul{
    display: flex;
    /* background-color: rgb(110, 228, 212); */
}
#nav ul li{
    list-style: none;
    margin: 30px;
    padding: 0px 20px 0px 20px;
    border: 1px solid rgb(209, 175, 25);
    background-color: rgb(209, 175, 25);
    transition: all 0.4s;
    border-radius: 5px;
    cursor: pointer;
}
#nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: black;
}#nav ul li:hover{
    background-color: rgb(245, 200, 0);
    border: 1px solid rgb(245, 200, 0);
}
#slider{
    background-image: url(img2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
}
#about1{
    width:80%;
    display: flex;
    justify-content: space-between;
    /* height: 400px; */
    margin: 100px auto;
}
#about2{
    width: 60%;
}
#about2 img{
    height: 300px;
    width: 100%;
}


 #about3 p,ul li{

    margin: 30px;
    margin-top: 0px;
}
#about3 ul{
    margin-left: 20px;
}
/*
#form{
    width: 40%;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 200px;

}
#form input {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}
#form1{
    width: 40%;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 200px;

}
#form input {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
} */
footer{
  background-color:rgb(185, 160, 49);

    width:100% ;
    color: white;
    text-align: center;
    padding: 50px 0px;

}
.f1{
       background-color:rgb(185, 160, 49);
    height: 210px;
    width: 33.3%;
    float: left;
    text-align: center;
}
.f1 h2 ,h1 ,p,a{ 
    margin-top: 0px;  
}
.f1 a{
    color: white;
}
/* ///////////// */
.Donor_bg{
    background-image: url(a.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%; 
}
/* //////////==============signup/login page css/////// */
a {
  text-decoration:none;
  color:rgb(185, 160, 49);;
  transition:.5s ease;
}
  a:hover {
    color:darken(rgb(185, 160, 49);,5%);
  }
  .active a {
    background:rgb(185, 160, 49);;
    color:#ffffff;
  }

.form {
  background:#59daf1;
  padding: 40px;
  max-width:500px;
  margin:40px auto;
  border-radius:5px;
  box-shadow:0px 3px 5px 3px #59daf1;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    color:black;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
  }
    li a:hover {
      background:darken(#1ab188,5%);
      color:#ffffff;
    }

h1 {
  text-align:center;
  color:#ffffff;
  font-weight:300;
  margin:0 0 40px;
}


label.highlight {
	color:#ffffff;
}

input, textarea {
  font-size:20px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
		outline:0;
		border-color:#fff;
  }


textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

 
    .top-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .top-row > div {
    float:left;
    width:48%;
    margin-right:4%;
}
.top-row > div:last-child { 
      margin:0;
    }

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:1.5rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:rgb(185, 160, 49);
  color:#ffffff;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
    background:darken(rgb(185, 160, 49),5%);
  }


.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}